<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end" id="btnBack">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="datxe">
        <ion-label>Chọn thời gian đặt xe</ion-label>
    </div>
    <div id="slngay">
        <input class="chonsl" type="radio" name="slngay">Thuê nhiều Ngày
        <input class="chonsl" type="radio" name="slngay">Thuê ít ngày
    </div>

    <fieldset style="margin-top: 10px; border-radius: 5px;">
        <legend style="font-size: 15px; color: rgb(0, 87, 7);font-weight: bold;">Chọn ngày đặt xe</legend>
        <input id="ngaynhanxe" type="date">
    </fieldset>

    <div id="gio-group">
        <div class="gio-item">
            <p id="gionhanxe">Giờ nhận xe</p>
            <div class="khunggio">
                <br>
                <br>
                <br>
                <br>
                <a class="thoigian" href="#"><time>07 : 00</time></a><br>
                <a class="thoigian" href="#"><time>08 : 00</time></a><br>
                <a class="thoigian" href="#"><time>09 : 00</time></a><br>
                <a class="thoigian" href="#"><time>10 : 00</time></a><br>
                <a class="thoigian" href="#"><time>11 : 00</time></a><br>
                <a class="thoigian" href="#"><time>12 : 00</time></a><br>
                <a class="thoigian" href="#"><time>13 : 00</time></a><br>
                <a class="thoigian" href="#"><time>14 : 00</time></a><br>
                <a class="thoigian" href="#"><time>15 : 00</time></a><br>
                <a class="thoigian" href="#"><time>16 : 00</time></a><br>
                <a class="thoigian" href="#"><time>17 : 00</time></a><br>
                <a class="thoigian" href="#"><time>18 : 00</time></a><br>
                <a class="thoigian" href="#"><time>19 : 00</time></a><br>
                <a class="thoigian" href="#"><time>20 : 00</time></a><br>
                <a class="thoigian" href="#"><time>21 : 00</time></a><br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div id="chongio"></div>
            </div>
        </div>
        <div class="gio-item">
            <p id="giotraxe">Giờ trả xe</p>
            <div class="khunggio">
                <br>
                <br>
                <br>
                <br>
                <a class="thoigian" href="#"><time>07 : 00</time></a><br>
                <a class="thoigian" href="#"><time>08 : 00</time></a><br>
                <a class="thoigian" href="#"><time>09 : 00</time></a><br>
                <a class="thoigian" href="#"><time>10 : 00</time></a><br>
                <a class="thoigian" href="#"><time>11 : 00</time></a><br>
                <a class="thoigian" href="#"><time>12 : 00</time></a><br>
                <a class="thoigian" href="#"><time>13 : 00</time></a><br>
                <a class="thoigian" href="#"><time>14 : 00</time></a><br>
                <a class="thoigian" href="#"><time>15 : 00</time></a><br>
                <a class="thoigian" href="#"><time>16 : 00</time></a><br>
                <a class="thoigian" href="#"><time>17 : 00</time></a><br>
                <a class="thoigian" href="#"><time>18 : 00</time></a><br>
                <a class="thoigian" href="#"><time>19 : 00</time></a><br>
                <a class="thoigian" href="#"><time>20 : 00</time></a><br>
                <a class="thoigian" href="#"><time>21 : 00</time></a><br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div id="chongio"></div>
            </div>
        </div>
    </div>
    <!-- <ion-button id="dongy" (click)="DongY()">Đồng ý</ion-button> -->
</ion-content>