<ion-header class="hotro">
  <ion-toolbar>
    <ion-buttons slot="end" id="btnBack">
      <ion-back-button defaultHref="/"></ion-back-button>
      <img src="assets/icon/logoxe.png" id="anh" >
    </ion-buttons> 
    <ion-title id="name">
      Tiện ích hỗ trợ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="hotro">
  <ion-button class="tienich" id="tienich1" routerLink="/map" >Xem vị trí</ion-button>
  <ion-button class="tienich" id="tienich2" routerLink="/camera">Check in xe</ion-button>

</ion-content>
