<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" id="btnBack">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title id="name">
      Chính sách hoàn hủy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    
    <div id="chinhsach-bg">
      <ion-label id="chinhsach-hh">CHÍNH SÁCH HOÀN HỦY</ion-label>
    </div>
    <div id="tieuchuan">
      <ion-label id="tieuchuan-dv">Tiêu chuẩn dịch vụ</ion-label><br>
      <ol id="tieuchuan-dv_group" type="I">
        <li class="tieuchuan-dv_item">Trước khi thuê<br>
          <div>
            <p class="nd-truockhithue">
              <b>1.Xác nhận đặt xe:</b> Thuê xe DLU sẽ xác nhận đặt xe của bạn trong vòng 24 giờ. Tuy nhiên, do nhu cầu
              tăng cao nhiều vào ngày Lễ Tết nên Thuê xe DLU khuyến khích bạn đặt thuê xe tối thiểu 2 ngày trước ngày thuê (và
              3 ngày trước ngày cuối tuần) đối với ô tô và 1 ngày đối với xe máy.
            </p><br>
            <p class="nd-truockhithue">
              <b>2.Tiền đặt cọc giữ xe:</b> Khi đặt thuê xe tại Thuê xe DLU, bạn chỉ cần đặt cọc 30% - 50% tổng giá thuê
              (có email/ sms qua điện thoại/zalo/viber/... của Thuê xe DLU xác nhận).
            </p><br>
            <p class="nd-truockhithue">
              <b>3.Chính sách hủy đặt xe:</b><br>- Nếu bạn đặt cọc xe trước ngày đi hơn 5 ngày (VD: ngày đi là ngày 15/1
              thì đặt cọc vào ngày 10/1 hoặc sớm hơn). Bạn sẽ được hoàn tiền MIỄN PHÍ khi hủy đặt xe trong vòng 24h từ
              thời điểm Thuê xe DLU nhận được tiền. Trong trường hợp bạn hủy đặt xe sau 24h từ thời điểm Thuê xe DLU nhận được
              tiền thì KHÔNG ĐƯỢC HOÀN LẠI tiền cọc. Ngoài ra, trong trường hợp bạn đã thanh toán online thì sẽ mất từ 30%
              - 50% giá trị tổng booking (bằng tổng giá trị đặt cọc giữ xe).
            </p><br>
            <br>- Nếu bạn đặt cọc xe trước ngày đi dưới 5 ngày, bạn sẽ không được hoàn lại tiền cọc khi hủy thuê xe (VD:
            ngày đi là ngày 15/1 thì nếu đặt cọc vào ngày 11/1 hoặc muộn hơn thì khi hủy đặt xe thì KHÔNG ĐƯỢC HOÀN LẠI
            tiền cọc. Trong trường hợp đã thanh toán online thì sẽ mất từ 30% - 50% giá trị tổng booking (bằng tiền đặt
            cọc giữ xe).
            <p class="nd-truockhithue">
              <b>4. Điều khiển thuê xe:</b><br>+ Hộ khẩu/KT3 (Bản gốc đối với khách địa phương)<br>+ Bằng lái xe hợp lệ (Bằng lái Việt Nam hoặc Quốc tế)<br>
              + CMND hoặc Passport<br>+ Đặc cọc bằng tiền hoặc tài sản có giá trị tương đương (Xe máy + Giấy đăng ký xe/Cà vẹt chính chủ)<br>
              + Các tài liệu khác (nếu cần): Vé máy bay, khách sạn (với khách du lịch)<br>
            </p><br><br>
            <div style="height: 220px; background: rgb(247, 251, 186);margin-right: 10px;">
            <p style="text-align: justify; margin: 10px;">
              ***Lưu ý: trong trường hợp khi giao xe, khách hàng không xuất trình đủ các giấy tờ và thủ tục phía trên hoặc phát hiện có dấu hiện nghi vấn về giấy tờ,mục đích thuê xe không rõ ràng, booking sẽ được hủy và khách hàng sẽ phải thực hiện theo chính sách Hủy đặt xe phía trên. 
            </p>
          </div>
            <p class="nd-truockhithue">
              <b>5.Xác nhận lại với khách hàng:</b> Thuê xe DLU hoặc đối tác của Thuê xe DLU sẽ là bên đại diện trực tiếp xác nhận lại với khách hàng về toàn bộ thông tin thuê xe.
            </p><br>
            <p class="nd-truockhithue">
              <b>6.Thông tin về chủ xe/đối tác cho thuê xe:</b> tại Thuê xe DLU sẽ được cung cấp cho khách hàng trước tối đa 6 tiếng trước ngày đi (Có ít nhất 2 số điện thoại để liên hệ).
            </p>
          </div>
        </li><br><br>
        <li class="tieuchuan-dv_item">Giao xe<br>
          <p class="nd-giaoxe">
            <b>1.Địa điểm giao xe:</b> Bạn có thể giao nhận xe tại điạ điểm của nhà xe đối tác của Thuê xe DLU để được MIỄN PHÍ hoặc giao nhận xe tại điạ điểm khách hàng yêu cầu (nhà, sân bay, khách sạn) tính phí giao xe tùy theo km.
          </p><br>
          <p class="nd-giaoxe">
            <b>2.Trong trường hợp không liên lạc, không gặp được chủ xe,</b> Thuê xe DLU sẽ hỗ trợ bạn liên lạc báo với chủ xe. Nếu không liên lạc được trước thời điểm đi tối đa 1 tiếng, Thuê xe DLU sẽ điều 1 chiếc xe khác để đảm bảo thời gian và kế hoạch cho khách hàng.
          </p><br>
          <p class="nd-giaoxe">
            <b>3. Chính sách hỗ trợ: </b>Thuê xe DLU sẽ hỗ trợ khách hàng tốt nhất trong khoảng 8h-21h thông qua các kênh hỗ trợ như Email, Live Chat, OTT (Zalo, Viber, FB Messenger), Hotline.
          </p><br>
        </li>
      </ol>
      <div style="height: 5px;background-color: #eaf3fb;"></div>
      <ion-label id="chinhsach-bh">Chính sách bồi hoàn</ion-label><br>
      <p class="chinhsach-bh-nd">
        <b>Nếu không có chủng loại xe như bạn đã đặt,</b> Thuê xe DLU sẽ sắp xếp các dòng xe tương đương và giảm 5% theo giá thuê.
      </p><br>
      <p class="chinhsach-bh-nd">
        <b>Nếu không có xe cho thuê,</b> Thuê xe DLU sẽ hoàn cọc và bồi thường 100% (tối đa 500k) kèm 1 Voucher giảm giá 5% cho lần thuê xe tiếp theo.
      </p><br><br>
      <a id="link-boihoan" href="../compensationconditions/">Xem chi tiết điều kiện bồi thường</a><br>
      <p class="chinhsach-bh-nd">
        Nếu có sự sai sót trong việc <b>không xác nhận booking của khách hàng hoặc không có thông tin đối tác thuê xe</b> từ phía Thuê xe DLU, Thuê xe DLU sẽ giảm 5% giá thuê xe.
      </p><br>
      <div style="height: 6px;background-color: #eaf3fb;margin-top: 20px;"></div>
      <div style="height: 55px;"></div>
    </div>
  </ion-toolbar>

  <ion-toolbar id="menu">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home" routerLink="/trangchu"></ion-icon>
          <ion-label>Trang chủ</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="album">
          <ion-icon name="albums-outline" routerLink="/chinhsach"></ion-icon>
          <ion-label>Chính sách</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="help">
          <ion-icon name="help-circle-outline" routerLink="/hotro"></ion-icon>
          <ion-label>Hỡ trợ</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="account">
          <ion-icon name="person-circle-outline" routerLink="/taikhoan"></ion-icon>
          <ion-label>Tài khoản</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-content>