<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="hotro"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 15px;margin-right: 30px;">Câu hỏi thường gặp </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="end" id="btnBack">
        <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    
    <div id="faq">
      <ul>
        <li>
          <input type="checkbox" checked>
        <i></i>
        <h2>Tôi cần làm gì để thuê một chiếc xe máy?</h2>
        <p>
          Chứng minh thư nhân dân (bản gốc); Giấy phép lái xe (bản gốc và bản sao); Hộ chiếu (passport) nếu là người nước ngoài; Tiền đặt cọc từ 3.000.000đ trở lên tuỳ loại xe.
        </li>
        <li>
          <input type="checkbox" checked>
        <i></i>
        <h2>Tôi cần chuẩn bị những gì để thuê một chiếc ô tô tự lái ?</h2>
        <p>
         Hộ khẩu hoặc KT3 (sổ tạm trú dài hạn), CMND/CCCD (bản gốc), xe gắn máy kèm giấy đăng ký xe. Đặt cọc xe máy hoặc tiền mặt có giá trị từ 15.000.000đ trở lên tuỳ từng loại xe.
        </p>
        </li> 
        <li>
          <input type="checkbox" checked>
        <i></i>
        <h2>Tôi có thể đăng kí thuê xe cho người khác không ?</h2>
        <p>
          Bạn có thể đứng tên hợp đồng để thuê cho người thân hoặc bạn bè. Tuỳ từng nhà xe sẽ yêu cầu bạn bổ sung thêm 1 số giấy tờ phù hợp để đứng tên hợp đồng cho thuê xe.
        </p>
        </li>

        <li>
          <input type="checkbox" checked>
        <i></i>
        <h2>Tôi cần lưu ý gì khi nhận xe ?</h2>
        <p>
          Kiểm tra kĩ giấy tờ của xe xem còn hạn hay không. Mang đầy đủ giấy tờ, đặc biệt là Bằng láu xe, và Chứng minh nhân dân. Đọc kỹ biên bản bàn giao xe như xem có vết trầy xước nào không, vạch xăng thực tế khi bàn giao.
        </p>
        </li>

        <li>
          <input type="checkbox" checked>
        <i></i>
        <h2>Khi gặp sự cố trên đường tôi phải làm gì ?</h2>
        <p>
          Bạn nên gọi điện cho Hotline (1900 1877 hoặc 0904 509 596) của Thuê xe DLU đồng thời liên lạc trực tiếp cho nhà xe để thông báo và thống nhất cách sửa chữa và thanh toán chi phí dựa trên thoả thuận của hai bên.
        </p>
        </li>

        <li>
          <input type="checkbox" checked>
        <i></i>
        <h2>Làm thế nào để đặt xe trên hệ thống ?</h2>
        <p>
          Bạn có thể đặt xe qua email, điện thoại hoặc đăng ký ngay trên web hoặc app Thuê xe DLU.
        </p>
        </li>

        <li>
          <input type="checkbox" checked>
        <i></i>
        <h2>Hệ thống cho thuê những loại xe nào ?</h2>
        <p>
          Chúng tôi có nhiều dòng cả xe máy và ô tô để phù hợp với nhu cầu của khách hàng cả thuê ngắn và dài ngày như Xe ô tô 4-5 chỗ, 7 chỗ, 9 chỗ; Xe máy  tay ga, xe số, xe côn.
        </p>
        </li>


        <li>
          <input type="checkbox" checked>
        <i></i>
        <h2>Tôi có thể thanh toán bằng những hình thức nào ?</h2>
        <p>
          Thanh toán chueyenr khoản, phí chuyển khoản sẽ do khách hàng chi trả. Thanh toán tiền mặt. Thanh toán thẻ tín dụng.
        </p>
        </li>

        <li>
          <input type="checkbox" checked>
        <i></i>
        <h2>Nếu hủy đặt xe tôi có phải chịu chi phí phạt không ?</h2>
        <p>
          Bạn hoàn toàn không phải chịu phí phạt nào vì huỷ cọc trước thời điểm thực hiện hợp đồng thuê xe ( không áp dụng thuê xe trong ngày lễ, Tết,...).
        </p>
        </li>


        <li>
          <input type="checkbox" checked>
        <i></i>
        <h2>Xe còn mới không? Chất lượng tốt không ?</h2>
        <p>
          Thuê xe DLU cung cấp các dòng xe mới và được đăng kiểm đăng ký, bảo trì bảo dưỡng theo định kỳ.
        </p>
        </li>
  
      </ul>
  
    </div>
  </ion-content>
  




</ion-content>