<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end" id="btnBack">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title id="name">
            Hợp đồng
        </ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>
    <div class="div1">
        <h3>Chungxe > Kinh nghiệm thuê xe > Kinh nghiệm thuê xe ô tô tự lái > Mẫu hợp đồng cho thuê xe tự lái tham hảo</h3>
    </div>
    <div class="div2">
        <h2>Mẫu hợp đồng cho thuê xe tự lái tham khảo</h2>
        <h3>Mục lục [Ẩn nội dung]</h3>
        <h4>Điều 1: NỘI DUNG CÔNG VIỆC..........................</h4>
        <h4>Điều 2: GIÁ THÀNH..............................................</h4>
        <h4>Điều 3: PHƯƠNG THỨC THANH TOÁN..............</h4>
        <h4>Điều 4: NGHĨA VỤ CỦA CÁC BÊN........................</h4>
        <h4>Điều 5: ĐIỀU KHOẢN CỤ THỂ..............................</h4>
        <h4>Điều 6: CAM KẾT THỰC HIỆN VÀ GIẢI QUYẾT TRANH CHẤP........................................................</h4>
        <h4>Điều 7: ĐIỀU KHOẢN THI HÀNH...........................</h4>
    </div>
    <div class="div3">
        <h3>*Nội dung mẫu hợp đồng cho thuê xe tự lái sẽ nêu rõ thông tin của bên thuê xe, bên cho thuê xe, đối tượng hợp đồng, quyền và nghĩa vụ của các bên và các nội dung khác liên quan. Hãy cùng Chungxe tham khảo chi tiết và tải về mẫu hợp đồng cho thuê
            xe tự lái nhé. Lưu ý mẫu này chỉ có tính chất tham khảo và có thể có sự khác nhau trong các điều khoản chi tiết tuỳ theo chủ xe và khách hàng thoả thuận.</h3>
    </div>
    <div class="div4">
        <h4>CỘNG HÒA XÃ HỘI CHỦ NGHĨA CIỆT NAM</h4>
        <h4>Độc lập - Tự do - Hạnh phúc</h4>
        <h4>HỢP ĐỒNG THUÊ XE Ô TÔ TỰ LÁI</h4>
        <h4>Số: .........</h4>
    </div>
    <div class="div5">
        <h4>*Căn cứ Luật thương mại năm 2005 và Bộ luật dân sự năm 2005 được Quốc hội nước Cộng hoà xã hội chủ nghĩa Việt Nam thông qua ngày 14 tháng 06 năm 2005;</h4>
        <h4>*Căn cứ vào khả năng và nhu cầu của hai bên</h4>
        <h4>Hôm nay, ngày ..... tháng ..... năm ....., tại ......,</h4>
        <h4>hai bên chúng tôi gồm:</h4>

        <h4>Bên cho thuê (Bên A):</h4>

        <h4> * Người đại diện:</h4>
        <h4> - Chức vụ:</h4>
        <h4> - Địa chỉ:</h4>
        <h4> - Điện thoại:</h4>
        <h4> - Mã số thuế:</h4>
        <h4> - Tài khoản số:</h4>

        <h4>Bên thuê B (Bên B):</h4>

        <h4> * Người đại diện:</h4>
        <h4>- Chức vụ:</h4>
        <h4> - Địa chỉ:</h4>
        <h4> - Điện thoại:</h4>
        <h4> - Mã số thuế:</h4>
        <h4> - Tài khoản số:</h4>

        <h4>Sau khi bàn bạc thống nhất, cả hai bên cùng đồng ý các điều kiện và điều khoản được quy định trong hợp đồng như sau:</h4>

        <h4>Điều 1: NỘI DUNG CÔNG VIỆC</h4>
        <h4>Bên A đồng ý cho bên B thuê xe ô tô theo hình thức tự lái. Xe ôtô Bên A đảm bảo là xe mới, chất lượng tốt, toàn bộ máy, bản táp lô điện và các linh kiện khác đều được dán tem bảo đảm.</h4>
        <h4>Thời gian thuê xe: Từ ngày …………………..đến hết ngày ……………..</h4>
        <h4>Địa điểm giao nhận xe: ……………………………………………</h4>
        <h4>ĐIỀU 2: GIÁ THÀNH</h4>

        <h4>2.1. Giá thuê :</h4>

        <h4>Đơn giá thuê: …..………đ/ngày (chưa bao gồm VAT)</h4>
        <h4>Giới hạn km: ……………km/ngày</h4>
        <h4>Phụ trội khi vượt số km:….………..đ/km</h4>
        <h4>2.2. Thời gian thuê:</h4>

        <h4>Từ …………giờ, ngày…………………….</h4>
        <h4>Đến………..giờ, ngày: ………………….</h4>
        <h4>Phụ trội: …………đ/giờ</h4>
        <h4>2.3. Phí cầu phà, bến bãi, lưu đêm, xăng xe, ăn ở lái xe, tiền phạt vi phạm luật giao thông do bên B tự chịu chi trả.</h4>

        <h4>ĐIỀU 3: PHƯƠNG THỨC THANH TOÁN</h4>

        <h4>Bên A giao xe và các giấy tờ xe cho bên B và ngay khi hợp đồng được ký kết.</h4>
        <h4>Bên B ứng trước 100% tiền thuê xe cho bên A ngay sau khi hợp đồng này được ký kết.</h4>
        <h4>ĐIỀU 4: NGHĨA VỤ CỦA CÁC BÊN</h4>

        <h4>Bên A:</h4>

        <h4>Đảm bảo đúng loại xe, chất lượng xe và đầy đủ giấy tờ theo quy định của pháp luật. Xe hoạt động bình thường , có đầy đủ các thiết bị sơ cứu khi xe gặp sự cố: lốp dự phòng, kích nâng xe..</h4>
        <h4>Giao xe đúng thời gian theo lịch của bên B yêu cầu.</h4>
        <h4>Chịu trách nhiệm pháp lý về nguồn gốc và quyền sở hữu của xe.</h4>
        <h4>Bên B:</h4>

        <h4>Kiểm tra trước khi nhận và rửa xe trước khi trả.</h4>
        <h4>Luôn để ý đồng hồ báo nhiệt, báo dầu…nếu có sự cố phải dừng xe và báo ngay cho bên A. Nếu cố tình sử dụng khi nhiệt độ tăng hoặc dầu hết dẫn đến hỏng máy, bên B hoàn toàn chịu trách nhiệm.</h4>
        <h4>Không được bóc tem bảo đảm hay tự ý sửa chữa bất cứ chi tiết nào của xe.</h4>
        <h4>Mọi sự cố như : mất, bẹp, nứt…bất kì chi tiết nào của xe, bên B phải chịu mua đồ hãng thay thế, không chấp nhận gò hàn.</h4>
        <h4>Mọi hỏng hóc của xe do bên B gây ra tuỳ thuộc vào mức độ, bên B hoặc bảo hiểm của bên B phải bồi thường cho bên A, giá trị bồi thường được xác định bởi chuyên viên kĩ thuật của hãng.</h4>
        <h4>Mỗi ngày xe nghỉ để sữa chữa hay vì lí do nào khác mà xe không hoạt động kinh doanh được (do lỗi bên B) thì bên B phải chịu trả tiền cho bên A với số tiền như đang thuê xe sử dụng bình thường.</h4>
        <h4>Khi bên B vi phạm luật giao thông dẫn đến bị bắt xe hoặc giấy tờ xe thì vẫn phải thanh toán tiền thuê xe cho đến khi lấy được xe, giấy tờ xe. Nếu có phát sinh bất cứ chi phí nào tại thời điểm bên B thuê xe, bên B vẫn phải chịu chi phí đó mặc dù
            hợp đồng đã thanh lý. Bên A sẽ căn cứ vào giờ đi và ngày đi trong hợp đồng đã ký cùng với giấy phạt nguội làm bằng chứng để giải quyết sai phạm.</h4>
        <h4>Thanh toán tiền theo đúng thời hạn thoả thuận.</h4>
        <h4>Chịu tất cả các chi phí phát sinh ngoài thoả thuận trong hợp đồng.</h4>
        <h4>ĐIỀU 5: ĐIỀU KHOẢN CỤ THỂ</h4>

        <h4>Nghiêm cấm bên B:</h4>
        <h4>Cấm sử dụng chiếc xe thuê đi cầm cố hay thế chấp.</h4>
        <h4>Cấm sử dụng chiếc xe thuê vào những mục đích phi pháp như đua xe, vận chuyển hàng hoá trái phép (ma tuý, vũ khí, hàng lậu, chất cháy nổ và những đối tượng trốn tránh pháp luật) cũng như trở các đồ có mùi hôi, thối, đồ hải sản.</h4>
        <h4>Cấm cho thuê lại xe hoặc giao xe cho đơn vị khác sử dụng dưới hình thức nào.</h4>
        <h4>Bên A có quyền:</h4>
        <h4>Báo cho cơ quan công an khi bên B cố tình không liên lạc với bên A hoặc sử dụng không đúng mục đích, có dấu hiệu can thiệp vào thiết bị định vị hoặc máy móc xe.</h4>
        <h4>Huỷ bỏ hợp đồng, nếu thấy khả năng lái xe của người thuê xe không đảm bảo an toàn giao thông.</h4>
        <h4>ĐIỀU 6: CAM KẾT THỰC HIỆN VÀ GIẢI QUYẾT TRANH CHẤP</h4>

        <h4>Hai bên nghiêm chỉnh thực hiện các điều khoản của hợp đồng này. Trong trường hợp có sự thay đổi, phải thông báo cho nhau bằng văn bản báo trước 03 ngày trước ngày dự kiến khởi hành. Nếu bên nào không thực hiện, gây thiệt hại cho bên kia, phải
            bồi thường 50% tổng giá trị của chuyến xe chạy đó.</h4>
        <h4>Mọi phát sinh trong quá trình thực hiện hợp đồng, hai bên sẽ cùng nhau trực tiếp thương lượng giải quyết bằng các phụ lục hợp đồng.</h4>
        <h4>Nếu không thoả thuận đựợc thì các bên có quyền yêu cầu toà án có thẩm quyền giải quyết.</h4>
        <h4>ĐIỀU 7: ĐIỀU KHOẢN THI HÀNH</h4>

        <h4>Hợp đồng này có hiệu lực thi hành kể từ ngày ký.</h4>
        <h4>Nếu sau thời hạn của hợp đồng 15 ngày mà hai bên không có tranh chấp, thì hợp đồng này mặc nhiên được thanh lý.</h4>
        <h4>Hợp đồng này được lập thành 02 bản, mỗi bên giữ 01 bản có giá trị pháp lý như nhau.</h4>

        <ion-button>
            <p id="benA">Đại diện bên A </p>
            <p id="benB">Đại diện bên B </p>
        </ion-button>
    </div>
    <div class="div6">
        <h5>Liên hệ</h5>
        <h4>Đà Lạt : 7B Phù Đổng Thiên Vương , Phường 8, Thành Phố Đà Lạt </h4>
        <h4 class="dc"><img src="assets/icon/gmail.png" class="hinha"> Phanquochuy2001na@gmail.com</h4>
        <h4 class="dc"><img src="assets/icon/phone.png" class="hinha"> 098888888</h4>
    </div>
    <div class="div7">
        <h5>Giới thiệu</h5>
        <h4>Về chúng tôi</h4>
    </div>
    <div class="div8">
        <h5>Chính sách</h5>
        <h4>Chính sách bảo mật thông tin</h4>
        <h4>Quy chế hoạt động</h4>
        <h4>Sự cố về khiếu nại</h4>
        <h4>Chính sách hoàn hủy</h4>
        <h4>Chính sách cho đối tác vận chuyển</h4>
    </div>
    <div class="div9">
        <h5>Hỗ trợ</h5>
        <h4>Hướng dẫn thuê xe</h4>
        <h4>Hợp đồng thuê xe tự lái</h4>
        <h4>Tiện ích hỗ trợ</h4>
        <h4>Câu hỏi thường gặp</h4>
    </div>
    <div class="div10">
        <ion-buttons class="hinhb">
            <img src="assets/icon/facebook.png" id="hinh1">
            <img src="assets/icon/youtube.png" id="hinh2">
            <img src="assets/icon/instagram.png" id="hinh3">
            <img src="assets/icon/twitter.png" id="hinh4">
        </ion-buttons>
    </div>
</ion-content>