<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" id="btnBack">
      <ion-back-button defaultHref="/"></ion-back-button>
      <img src="assets/icon/logoxe.png" id="anh" >
    </ion-buttons> 
    <ion-title id="name">
      Hướng dẫn thê xe
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <img src="assets/icon/logo.jpg">
  <h1 id="h1">Hướng dẫn thuê xe</h1>
  <ion-buttons class="hinh">
    <img src="assets/icon/timkiem.png" id="hinh1">
    <img src="assets/icon/datxe.png" id="hinh2">
    <img src="assets/icon/nhanxe.png" id="hinh3" >
    <img src="assets/icon/danhgia.png" id="hinh4">
  </ion-buttons>
    <div class="div1">
      <h2>Tìm xe</h2>
      <h3>Truy cập website hoặc app Chungxe, lựa chọn thời gian & địa điểm bạn cần thuê xe</h3>
    </div>
    <div class="div2">
      <h2>Đánh giá</h2>
      <h3>Trả xe sau khi kết thúc hành trình. Đánh giá chất lượng dịch vụ và đóng góp ý kiến để chúng tôi cải thiện chất lượng</h3>
      
    </div>
    <div class="div3">
      <h2>Nhận xe</h2>
      <h3>Hoàn tất thủ tục thêu, nhân xe & bắt đầu hành trình của bạn . Bạn có thể nhận xe tại nhà hoặc địa lý của chúng tôi</h3>
    </div>
    <div class="div4">
      <h2>Đặt xe</h2>
      <h3>Dựa trên hệ thống so sánh giá , lựa chọn chiếc xe ưng ý & gửi yêu cầu về cho chúng tôi</h3>
    </div>
</ion-content>
