.hi {
    background-color: aqua;
    color: red;
    text-align: center;
    text-shadow: 2px;
    text-size-adjust: 5px;
}

.image {
    width: 200px;
    height: 200px;
}

#btnBack {
    margin-right: 80%;
}

#name {
    font-size: 20px;
    color: rgb(255, 0, 157);
}

#data1 {
    height: 2px;
    width: 3px;
}