<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" id="btnBack">
      <ion-back-button defaultHref="/"></ion-back-button>
      <img src="assets/icon/logoxe.png" id="anh" routerLink="/gioithieu">
    </ion-buttons>
    <ion-title>Điều khoản</ion-title>
  </ion-toolbar>
</ion-header>
  <form id="A">
    <div id="container" class="ion-padding">
    <p id="a">Công ty cổ phần</p>
    <p id="b">Giấy ĐKKD số xxx</p>
    <p id="c">Cấp ngày: xxx</p>
    <p id="d">Địa chỉ</p>
    <p id="e">Đà Lạt : 234,Hai Bà Trưng,Phường 6 Thành Phố Đà Lạt</p>
    <p id="f">Quảng Ngãi:phường Phổ Ninh, TX Đức Phổ, tỉnh Quảng Ngãi</p>
  </div>
  </form>
  <form id="B">
    <p id="h1">Email</p>
    <p id="h2">Phanquochuy2001na@gmail.com</p>
    <p id="h3">Số điện thoại</p>
    <p id="h4">-0505.00.69.69</p>
    <p id="h5">-1900.696.969(Giờ hành chính)</p>
  </form>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" >
      <ion-icon name="home" routerLink="/trangchu" ></ion-icon>
      <ion-label>Trang chủ</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="album">
      <ion-icon name="albums-outline" routerLink="/chinhsach"></ion-icon>
      <ion-label>Chính sách</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="help">
      <ion-icon name="help-circle-outline" routerLink="/hotro"></ion-icon>
      <ion-label>Hỡ trợ</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline" routerLink="/taikhoan"></ion-icon> 
      <ion-label>Tài khoản</ion-label>   
    </ion-tab-button>
  </ion-tab-bar>
  </ion-tabs>
</ion-content>