
ion-button{
    background-color: none;
    border-bottom: 1px solid black;
    width: 80%;
    height: 30px;
    margin-left: 50px;
    border-radius: 0%;

    
}   
#name{
    font-size: 12px;
    color: rgb(255, 0, 157);
  }
  #anh{
    width: 30px;
        height: 30px;
        margin-bottom: 15px;
        margin-left: 270%;
        margin-top:10%;
        border-radius: 5%;
        border: 1px solid #000000;
  }
  #btnBack{
    margin-right: 80%;
  }